.container{
  width: 600px;
  height: 600px;
  margin: 30px auto;
  border: solid .2px red;
  background-color: grey;
}

.square{
  background-color: black;
  float: left;
}

#settings{
  margin: 15px auto;
  width: 600px;
  height: 15px;
}
